
.descripcion{
    text-align: center;
    padding: 5px 25px;
    color: #f5f0f0;
}

.card{
    width: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.card__perfil{
    width: 310px;
    padding: 20px;
    box-shadow: 7px 13px 37px #000 ;
    border: solid rgba(3, 133, 255, 0) 2px;
    border-radius: 10px;
}
.card__perfil:hover{
    border: solid rgb(3, 133, 255) 2px;
}
.card__perfil:hover .img2{
    transform: rotate(0);
}
.img2{
    width: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgb(216, 216, 216);
    transform: rotate(-30deg);
    transition: all .3s;
}
.card__nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
hr{
    width: 100%;
    height: 4px;
    background: rgb(223, 221, 221);
    margin: 20px 5px;
}
.card__button{
    text-align: center;
}
.enlace{
    background: rgb(0, 110, 255);
    padding: 8px 20px;
    color: white;
    text-decoration: none;
}

.col-md-3 {
    text-align: center;
    padding: 20px;
    box-shadow: 7px 13px 37px #000 ;

}

.col-md-3-no-shadow {
    text-align: center;
    padding: 20px;
}

p {
    color: #ffff;
}

.btn-third {
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border-color: #3498db;
    color: #fff;
    border-radius: 0.6em;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
  }
  .btn-third:hover, .btn-third:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }


  .btn-fourth {
    box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
    border-color: #f1c40f;
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
  }


.btn-fourth:hover, .btn-fourth:focus {
  color: #fff;
  outline: 0;
  background-position: 0;
}