<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width-divice-width, user-scalable-no, initial-scale-1, maximum-scale-1, minimum-scale-1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MascotaFeliz</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/fontello.css" />
    <link rel="stylesheet" href="~/css/pruebaCss.css" />
    <link rel="stylesheet" href="~/css/styles.css" />
   
    <script src="https://kit.fontawesome.com/589eef25b8.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="container">
            <img src="~/img/icon-pets.png" alt="pets" class="icon-pet">
            <h1>PETS</h1>
            <input type="checkbox" id="menu-bar">
            <label class="icon-menu" for="menu-bar"></label>
            <nav class="menu">
                <ul class="nav">
                    <li><a asp-page="/Index"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a href="#manage"><i class="fa-sharp fa-solid fa-gear"></i>Manage</a>
                        <ul>
                            <li><a href="/Mascotas/ListaMascotas">Mascotas</a></li>
                            <li><a href="/Veterinarios/ListaVeterinarios">Veterinarios</a></li>
                            <li><a href="/Duenos/ListaDuenos">Dueños</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#accesories"><i class="fa-solid fa-bone"></i>Accessorios</a>
                    </li>
                    <li>
                        <a href="#contact"><i class="fa-solid fa-phone"></i>Contacto</a>
                    </li>
                </ul>
            </nav>
        </div>
        
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <p class="copy">Pets &copy; 2020</p>
            <div class="social">
                <a class="icon-face" href="#"></a>
                <a class="icon-twit" href="#"></a>
                <a class="icon-whatsapp" href="#"></a>
                <a class="icon-youtube" href="#"></a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
