@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">No existen visitas aun para la mascota @Model.mascota.Nombre con numero de historia: @Model.historia.Id</h2>



<div>
<a asp-area="" asp-page="/Mascotas/DetallesMascotas" asp-route-mascotaId="@Model.mascota.Id">Volver A Detalles mascota</a>
</div>
