@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<head>
    <link rel="stylesheet" href="~/css/styleCard.css" />
    <link rel="stylesheet" href="~/css/stylesFormulario.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>
<br>
<br>
<br>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">No existen visitas aun para la mascota @Model.mascota.Nombre con numero de historia: @Model.historia.Id</h2>



<div>
<a asp-area="" asp-page="/Mascotas/DetallesMascotas" asp-route-mascotaId="@Model.mascota.Id">Volver A Detalles mascota</a>
</div>
