@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}<!DOCTYPE html>
<html lang="es">


<main>
        <section id="banner">
            <img src="img/5-apps-en-español-que-debe-tener-todo-dueño-de-mascotas.jpg" alt="banner pets">
            <div class="container">
                <h2>They are one more member of the family</h2>
                <p>You think so?</p>
                <a href="#">Read more</a>
            </div>
        </section>
        <section id="wellcome">
            <h2>Welcome to the club</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi, beatae voluptatum inventore
                dicta, excepturi odit nulla, quas corporis aut eveniet. Suscipit aperiam deleniti aliquid rerum eligendi
                illo assumenda nemo.</p>
        </section>
        <section id="blog">
            <h3>The latest in our community</h3>
            <div class="container">
                <article>
                    <img src="img/397244_mediana_LbizPreX.jpg" alt="">
                    <h4>Animals need besides a home they need love</h4>
                </article>
                <article>
                    <img src="img/tr%C3%ADo-de-mascotas-1-1.png" alt="">
                    <h4>Choose your perfect pet</h4>
                </article>
                <article>
                    <img src="img/6b6ca1cb57215edcd686445a2e3562e4.jpg" alt="">
                    <h4>They need to run free and happy</h4>
                </article>
            </div>
        </section>
        <section id="info">
            <h3>Many of our friends are looking for a home to adopt them</h3>
            <div class="container">
                <div class="info-pet">
                    <img src="img/Feliz.jpg" alt="happy-pet">
                    <h4>Max</h4>
                </div>
                <div class="info-pet">
                    <img src="img/Gato-dentro-de-caja-de-carton-iStock.jpg" alt="cat-box">
                    <h4>Jerry</h4>
                </div>
                <div class="info-pet">
                    <img src="img/cat-play.jpg" alt="">
                    <h4>Tom</h4>
                </div>
                <div class="info-pet">
                    <img src="img/mascotas-2.jpg" alt="">
                    <h4>Matias &amp; Samantha</h4>
                </div>
            </div>
        </section>
    </main>


