@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section>
        <div class="cont-diaps">
            <div class="diaps">

                <input type="radio" name="radio-btn" id="radio1">
                <input type="radio" name="radio-btn" id="radio2">
                <input type="radio" name="radio-btn" id="radio3">

                <div class="diap primer-diap">
                    <img src="~/images/img1.jpg" alt="img1">
                </div>

                <div class="diap">
                    <img src="~/images/img2.jpg" alt="img2">
                </div>

                <div class="diap">
                    <img src="~/images/img3.jpg" alt="img3">
                </div>

                <div class="nav-color">
                    <div class="btn-color-1"></div>
                    <div class="btn-color-2"></div>
                    <div class="btn-color-3"></div>
                </div>

            </div>
            <div class="nav-diap">
                <label for="radio1" class="diap-btn"></label>
                <label for="radio2" class="diap-btn"></label>
                <label for="radio3" class="diap-btn"></label>
            </div>
        </div>
    </section>
    <main>
        <div class="cont-info">
            <img src="~/images/veterinarian-check-ing-puppy-s-health-2 (1).jpg" alt="img-info">
            <div class="text">
                <h2>Nuestro compromiso <span>es con las mascotas</span></h2>
                <p>El equipo médico todos los días se prepara para brindar el mejor servicio a las mascotas que lo necesiten. Es fundamental en nuestra filosofía encontrar una respuesta a todos los que nos consultan por el bienestar, salud, higiene y nutrición de sus perros o gatos.</p>
            </div>
        </div>
    </main>

