@page
@model MascotaFeliz.App.Frontend.Pages.CrearVisitasModel
@{
        String mascotaVisitada = @Model.mascota.Nombre ;
}

<head>
        <link rel="stylesheet" href="~/css/styleCard.css" />
        <link rel="stylesheet" href="~/css/stylesFormulario.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                crossorigin="anonymous">

</head>

<main class="container mt-5">
        <div class="row">
                <div class="col-md-3" id="form" style="text-align:left">
                        <h1>Ingresar Nueva Visita</h1>
                        <br>
                        <h2 style="color:white ;">Mascota : @mascotaVisitada </h2>
                        
                        <form method="post">


                                <input type="hidden" asp-for="visitaPyP.Id">

                                <input type="hidden" asp-for="mascota.Id" name="mascotaId">

                                <input type="hidden" asp-for="mascota.Veterinario.Id" name="veterinarioId">

                                <input type="hidden" asp-for="mascota.Nombre">
                                <br>
                                <input type="hidden" asp-for="historia.Id" name="historiaId">
                                <br>

                                <input type="hidden" asp-for="visitaPyP.FechaVisita">
                                <br>

                                <label asp-for="visitaPyP.Temperatura" style="color:white ;"></label>
                                <input asp-for="visitaPyP.Temperatura" id="controls" type="text"
                                        class="form-control mb-3" placeholder="Temperatura">
                                <br>

                                <label asp-for="visitaPyP.Peso" style="color:white ;"></label>
                                <input asp-for="visitaPyP.Peso" id="controls" type="text" class="form-control mb-3"
                                        placeholder="Peso">
                                <br>

                                <label asp-for="visitaPyP.FrecuenciaRespiratoria" style="color:white ;"></label>
                                <input asp-for="visitaPyP.FrecuenciaRespiratoria" id="controls" type="text"
                                        class="form-control mb-3" placeholder="Frecuencia respiratoria">
                                <br>

                                <label asp-for="visitaPyP.FrecuenciaCardiaca" style="color:white ;"></label>
                                <input asp-for="visitaPyP.FrecuenciaCardiaca" id="controls" type="text"
                                        class="form-control mb-3" placeholder="Frecuencia Cardiaca">
                                <br>

                                <input asp-for="visitaPyP.EstadoAnimo" id="controls" type="text"
                                        class="form-control mb-3" placeholder="Estado De Animo">
                                <br>

                                <input asp-for="visitaPyP.Pecomendaciones" id="controls" type="text"
                                        class="form-control mb-3" placeholder="Recomendaciones">
                                <br>
                                <input type="submit" class="btn btn-success" value="Crear">

                        </form>
                </div>
                <div class="col-md-8">
                        <div class="col-md-9">
                                <br>
                                <br>
                                <a asp-area="" class="btn-fourth" style="background-color: rgb(55, 90, 122);"  asp-page="/Mascotas/DetallesMascotas" asp-route-mascotaId="@Model.mascota.Id">Volver A Detalles Mascota</a>
                        </div>
                </div>
        </div>
</main>
